.btn
    background: lightgray
    border: 1px solid black
    color: black
    outline: none

    &_dang
        background: firebrick

        &.btn_slcted
            background: darkred

    &_slcted
        background: dimgray
